.mainEducation {
    padding-top: 40px;
    padding-bottom: 40px;
    border-bottom: 1px solid #e3e3e3;
    width: 100%;
}

.education {
    max-width: 66%;
    display: grid;
    grid-template-columns: 50% 50%;
    margin-left: 17%;
}

.educationAbout span {
    font-size: 24px;
    font-weight: 700;
    color: #252525;
    font-family: 'Montserrat', sans-serif;
}

.educationAbout span:after {
    content: '.';
    color: #3333ff;
}

.aboutCollage span {
    font-size: 17px;
    font-weight: 700;
    color: #252525;
    font-family: 'Montserrat', sans-serif;
}

.aboutCollage span:after {
    content: '.';
    color: #3333ff;
}

.nav-is-fixed {
    position: fixed;
}

.paragraph p {
    line-height: 1.6;
    color: #333;
    font-family: 'Montserrat', sans-serif;
}

.design {
    margin-top: 40px;
}

@media screen and (max-width: 1300px){
    .education{
        max-width: 90%;
        margin: 0 auto;
    }
}

@media screen and (max-width: 900px) {
    .education {
        grid-template-columns: 100%;
        margin: 0 auto;
    }

    .educationAbout {
        width: 100%;
    }

    .aboutCollage{
        margin-top: 30px;
    }
    .aboutCollage span{
        font-size: 18px;
    }
}

@media screen and (max-width: 800px) {
    .education {
        max-width: 90%;
        grid-template-columns: 100%;
        margin: 0 auto;
    }

    .languagesSkills{
        text-align: center;
    }

    .educationAbout {
        text-align: center;
        width: 100%;
    }

    .design {
        display: grid;
        justify-content: center;
    }

    .paragraph{
        margin-top: 5px;
        text-align: center;
    }

    .spanCollage{
        text-align: center;
    }
}