.mainPortfolio {
    padding: 40px;
    border-bottom: 1px solid #e3e3e3;
}

.portfolio {
    width: 70%;
    margin-left: 15%;
}

.portfolio span {
    font-size: 24px;
    font-weight: 700;
    color: #252525;
    font-family: 'Montserrat', sans-serif;
}

.portfolio span:after {
    content: '.';
    color: #3333ff;
}

.allProject {
    display: grid;
    grid-template-columns: 32% 32% 32%;
    justify-content: center;
    margin-top: 2%;
    grid-gap: 2%;
    max-width: 100%;
}

.project {
    width: 323px;
    text-align: center;
    border: 1px solid #dedede;
}

.imgBlock {
    height: 320px;
    background: #333333;
}

.imgBlock img {
    width: 321px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.imgBlock span {
    color: white;
    font-size: 40px;
    text-align: center;
}

.imgBlock span:after {
    content: none;
}

.aboutIs {
    margin-top: 10px;
    margin-bottom: 10px;
}

.aboutIs span {
    font-size: 20px;
}

.aboutIs span:after {
    content: none;
}

.paragraph {
    margin-top: 10px;
}

.paragraph p {
    font-size: 15px;
    line-height: 1.6;
    color: #333;
    font-family: 'Montserrat', sans-serif;
}

.btn {
    margin-top: 10px;
    display: grid;
    grid-template-columns: 40% 40%;
    margin-left: 10%;
    grid-gap: 10%;
}

.btn button {
    cursor: pointer;
    padding: 10px 5px 10px 5px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    background: #3333ff;
    border: none;
    color: white;
    border-radius: 2px;
    transition: all 0.5s ease;
}

.btn button:hover {
    box-shadow: 0 0 16px 8px #c8c8c8;
}

@media screen and (max-width: 1500px) {
    .portfolio {
        width: 90%;
        margin-left: 5%;
    }
    .allProject{
        display: grid;
        justify-content: center;
    }
}

@media screen and (max-width: 1210px) {
    .allProject {
        grid-template-columns: 100%;
        margin: 15px auto;
    }

    .project {
        margin: 0 auto;
        width: 646px;
        display: grid;
        grid-template-columns: 50% 50%;
    }
}

@media screen and (max-width: 815px) {
    .portfolio{
        margin-top: 10px;
        width: 100%;
        margin-left: 0;
    }

    .portfolio span{
        display: flex;
        justify-content: center;
    }

    .allProject {
        margin-top: 10px;
        grid-template-columns: 100%;
    }

    .project {
        margin: 15px auto;
        width: 323px;
        grid-template-columns: 100%;
    }
}

@media screen and (max-width: 400px) {
    .mainPortfolio{
        padding: 0;
    }

    .allProject{
        margin-top: -10px;
    }
}