.mainPortfolio {
    max-width: 100%;
    padding-top: 40px;
    padding-bottom: 40px;
    border-bottom: 1px solid #e3e3e3;
}

.portfolio {
    max-width: 66%;
    margin-left: 17%;
    display: grid;
    justify-content: center;
}

.portfolio span {
    font-size: 24px;
    font-weight: 700;
    color: #252525;
    font-family: 'Montserrat', sans-serif;
}

.portfolio span:after {
    content: '.';
    color: #3333ff;
}

.allProject {
    margin: 0 auto;
    width: 99%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}

.project {
    margin-top: 5%;
    width: 323px;
    text-align: center;
    border: 1px solid #dedede;
}

.imgBlock {
    height: 320px;
}

.imgBlock img {
    width: 321px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border: none;
}

.noProject{
    width: 100%;
    height: 100%;
    background: #252525;
}

.noProject span {
    color: white;
    font-size: 40px;
    text-align: center;
}

.imgBlock span:after {
    content: none;
}

.aboutIs {
    margin-top: 10px;
    margin-bottom: 10px;
}

.aboutIs span {
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
}

.aboutIs span:after {
    content: ".";
}

.paragraph {
    margin-top: 10px;
}

.paragraph p {
    font-size: 15px;
    line-height: 1.6;
    color: #333;
    font-family: 'Montserrat', sans-serif;
}

.btn {
    margin-top: 10px;
    display: grid;
    grid-template-columns: 40% 40%;
    margin-left: 10%;
    grid-gap: 10%;
}

.btn button {
    cursor: pointer;
    padding: 10px 5px 10px 5px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    background: #3333ff;
    border: none;
    color: white;
    border-radius: 2px;
    transition: all 0.5s ease;
}

.btn button:hover {
    box-shadow: 0 0 16px 8px #c8c8c8;
}

@media screen and (max-width: 1300px) {
    .portfolio {
        max-width: 90%;
        margin: 0 auto;
    }
}

@media screen and (max-width: 840px) {
    .allProject {
        grid-template-columns: 100%;
        margin: 15px auto;
    }

    .project {
        margin: 3% auto;
        width: 646px;
        display: grid;
        grid-template-columns: 50% 50%;
    }
}

@media screen and (max-width: 800px) {
    .portfolio {
        max-width: 90%;
        grid-template-columns: 100%;
        margin: 0 auto;
    }

    .portfolio span {
        display: flex;
        justify-content: center;
    }

    .allProject {
        margin-top: 10px;
        grid-template-columns: 100%;
    }

    .project {
        margin: 15px auto;
        width: 323px;
        grid-template-columns: 100%;
    }
}

@media screen and (max-width: 400px) {
    .btn button:hover {
        box-shadow: none;
    }
}