.mainSkills{
    padding: 40px;
    border-bottom: 1px solid #e3e3e3;
}

.skills{
    width: 70%;
    margin-left: 15%;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 10px;
}

.languagesSkills{
    display: grid;
    grid-template-columns: 100%;
}

.skillsAbout span{
    font-size: 24px;
    font-weight: 700;
    color: #252525;
    font-family: 'Montserrat', sans-serif;
}

.skillsAbout span:after{
    content: ".";
    color: #3333ff;
}

.skillsAbout{
    width: 90%;
}

.paragraph p{
    line-height: 1.6;
    text-align: center;
    color: #333;
    font-family: 'Montserrat', sans-serif;
}

.design{
    margin-top: 40px;
}

.web{
    width: 90%;
}

.web span{
    font-size: 17px;
    font-weight: 700;
    color: #252525;
    font-family: 'Montserrat', sans-serif;
}

.web span:after{
    content: ".";
    color: #3333ff;
}

.front{
    width: 90%;
}

.front span{
    font-size: 17px;
    font-weight: 700;
    color: #252525;
    font-family: 'Montserrat', sans-serif;
}

.front span:after{
    content: ".";
    color: #3333ff;
}

@media screen and (max-width: 1500px){
    .skills{
        width: 90%;
        margin-left: 5%;
    }
}

@media screen and (max-width: 900px){
    .skills{
        width: 100%;
        margin-left: 0;
    }
    .skillsAbout{
        width: 100%;
    }
}

@media screen and (max-width: 600px){
    .skills{
        width: 100%;
        margin-left: 0;
        grid-template-columns: 100%;
    }
    .languagesSkills{
        margin-top: 15px;
        grid-gap: 15px;
    }
    .languagesSkills span{
        display: flex;
        justify-content: center;
    }
    .skillsAbout{
        width: 100%;
    }
    .skillsAbout span{
        display: flex;
        justify-content: center;
    }
    .design{
        display: grid;
        justify-content: center;
    }
    .paragraph p{
        margin-top: 5px;
        display: grid;
        justify-content: center;
    }
}