/*HeaderMainBar*/

.mainMenuBar{
    box-shadow: none;
    position: fixed;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #e3e3e3;
    width: 100%;
    z-index: 4;
    top: 0;
}

.mainTransparentBar{
    position: fixed;
    backdrop-filter: blur(8px);
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    z-index: 4;
    top: 0;
    box-shadow: 0 0 4px #252525;
    transition: box-shadow 0.5s ease;
}

.miniMenuBar{
    max-width: 66%;
    display: grid;
    grid-template-columns: 40% 60%;
    margin-left: 17%;
}

.menuBurgerBar img{
    float: right;
    user-select:none;
}

.miniMenuLink a{
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-weight: 700;
    margin-left: 5%;
    float: right;
    margin-top: 0.6%;
    color: #252525;
    transition: color 0.5s ease;
}

.miniMenuLink a:hover{
    color: #3333ff;
}

.logo span{
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 500;
    float: left;
    color: #252525;
}

.logo span:after{
    content: ".";
    color: #3333ff;
}

.activeBar{
    background: #3333ff;
    width: 100%;
}

@media screen and (max-width: 1300px){
    .miniMenuBar{
        max-width: 90%;
        margin-left: 5%;
    }
}

@media screen and (max-width: 1200px){
    .miniMenuLink a{
        margin-left: 3%;
    }
}

/*HeaderBurgerMenu*/

.mainLinkBlockActive{
    background: white;
    width: 290px;
    padding: 15px;
    margin-top: 30px;
    border-radius: 10px;
    box-shadow: 0 1px 8px #e3e3e3;
}

.mainLinkBlockActive a{
    display: grid;
    padding-top: 10px;
    padding-bottom: 10px;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
    color: #252525;
    transition: background 0.2s ease;
    border-radius: 5px;
    grid-template-columns: 30% 70%;
    padding-left: 20px;
}

.mainLinkBlockActive a:hover{
    background: #ececec;
}

.darkLinkBlock{
    background: #e3e3e3;
    border-radius: 0 0 5px 5px;
    display: grid;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.darkLinkBlock span{
    text-decoration: none;
    color: #252525;
    border-radius: 5px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    margin-top: 8px;
}

.darkLinkMiniBlock{
    cursor: pointer;
    padding: 5px;
    display: grid;
    grid-template-columns: 20% 80%;
    grid-gap:10px;
    background: #e3e3e3;
    transition: background 0.5s ease;
    border-radius: 5px;
}

.darkLinkMiniBlock:hover{
    background: white;
}