.mainHeader{
    padding: 25px;
    background: white;
    border-bottom: 1px solid #e3e3e3;
    position: fixed;
    width: 100%;
    z-index: 4;
    top: 0
}

.header{
    width: 70%;
    display: grid;
    grid-template-columns: 30% 60%;
    margin-left: 15%;
    grid-gap: 5%;
}

.logo span{
    font-size: 24px;
    font-weight: 700;
    color: #252525;
    font-family: 'Montserrat', sans-serif;
}

.logo span:after{
    content: '.';
    color: #3333ff;
}

.menu{
    margin-top: 5px;
}

.menu a{
    cursor: pointer;
    float: right;
    text-decoration: none;
    margin-left: 5%;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
    line-height: 1.66;
    color: #252525;
    font-family: 'Montserrat', sans-serif;
    transition: all 0.5s ease;
}

.menu .active{
    color: #3333ff;
}
