.mainHeader {
    padding: 25px;
    border-bottom: 1px solid #e3e3e3;
    position: fixed;
    width: 100%;
    z-index: 4;
    top: 0
}

.mainActiveHeader {
    padding: 25px;
    position: fixed;
    width: 100%;
    z-index: 4;
    top: 0;
    border: none;
    box-shadow: 0 2px 5px #838383;
    backdrop-filter: blur(13px);
    transition: box-shadow 0.3s ease-in-out;
}

.header {
    width: 70%;
    display: grid;
    grid-template-columns: 30% 60%;
    margin-left: 15%;
    grid-gap: 5%;
}

.logo span {
    font-size: 24px;
    font-weight: 700;
    color: #252525;
    font-family: 'Montserrat', sans-serif;
}

.logo span:after {
    content: '.';
    color: #3333ff;
}

.mainMenu {
    margin-top: 5px;
}

.menu a {
    float: right;
    text-decoration: none;
    margin-left: 5%;
    font-size: 12px;
    font-weight: 700;
    line-height: 1.66;
    color: #252525;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
    transition: color 0.5s ease;
}

.menu a:hover {
    color: #3333ff;
}

.menuBarBlock {
    display: none;
}

.menuDarkMode {
    padding: 15px;
    background: #e3e3e3;
    border-radius: 0 0 10px 10px;
}

.menuButton:hover {
    box-shadow: 0 0 0 #e3e3e3;
}


@media screen and (max-width: 1200px) {
    .header {
        width: 90%;
        grid-template-columns: 10% 80%;
    }

    .menu .active {
        color: #252525;
    }
}

@media screen and (max-width: 1015px) {
    .header {
        width: 90%;
        grid-template-columns: 10% 80%;
    }

    .menu .active {
        color: #252525;
    }
}

@media screen and (max-width: 1225px) {
    .header {
        width: 85%;
        margin-left: 7.5%;
    }

    .menu .active {
        color: #252525;
    }
}

@media screen and (max-width: 900px) {
    .menu {
        display: none;
    }

    .burgerMenu {
        display: block;
    }

    .menuBarBlock {
        display: block;
        width: 99%;
    }

    .mainMenuBurgerBlock {
        display: flex;
        justify-content: center;
        background: #3333ff;
    }

    .menuButton {
        box-shadow: 0 4px 8px #e3e3e3;
        top: -10px;
        position: relative;
        float: right;
    }

    .doAdaptive {
        position: absolute;
        background: #ffffff;
        width: 300px;
        display: grid;
        padding-top: 10px;
        top: 100px;
        border-radius: 10px;
        margin-top: 1%;
        box-shadow: 0 3px 6px #252525;
        transition: all 500ms;
    }

    .doAdaptive a {
        cursor: pointer;
        text-align: center;
        font-family: 'Montserrat', sans-serif;
        color: #252525;
        border-bottom: 1px solid #e3e3e3;
        padding-top: 10px;
        padding-bottom: 10px;
    }
}

@media screen and (max-width: 500px) {
    .header {
        max-width: 90%;
        width: 100%;
        grid-template-columns: 50% 50%;
        margin-left: 0;
        grid-gap: 0;
    }

    .mainMenu {
        margin-top: 0;
    }

    .adaptive {
        display: block;
        margin-top: 10%;
    }

    .menuBarBlock {
        display: block;
        width: 70%;
    }

    .menuButton {
        box-shadow: 0 4px 8px #e3e3e3;
        top: -5px;
        position: relative;
        float: right;
    }

    .doAdaptive {
        margin-right: 50%;
    }
}
