.mainHeader{
    padding: 25px;
    background: white;
    border-bottom: 1px solid #e3e3e3;
    position: fixed;
    width: 100%;
    z-index: 4;
    top: 0
}

.header{
    width: 70%;
    display: grid;
    grid-template-columns: 30% 60%;
    margin-left: 15%;
    grid-gap: 5%;
}

.logo span{
    font-size: 24px;
    font-weight: 700;
    color: #252525;
    font-family: 'Montserrat', sans-serif;
}

.logo span:after{
    content: '.';
    color: #3333ff;
}

.mainMenu{
    margin-top: 5px;
}

.menu a{
    float: right;
    text-decoration: none;
    margin-left: 5%;
    font-size: 12px;
    font-weight: 700;
    line-height: 1.66;
    color: #252525;
    font-family: 'Montserrat', sans-serif;
    transition: all 0.5s ease;
    cursor: pointer;
}

.menu .active{
    color: #3333ff;
}

.burgerMenu{
    display: none;
    width: 25px;
    float: right;
    height: 25px;
}

.burgerMenu div{
    padding: 1px;
    height: 1px;
    background: #252525;
    margin-top: 5px;
}

.doAdaptive{
    position: fixed;
    z-index: 5;
    left: 0;
    top: 80px;
    width: 100%;
    height: 100%;
    background: #3333ff;
}

.doAdaptive a{
    cursor: pointer;
    text-transform: none;
    color: white;
    font-size: 15px;
    line-height: 5;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    display: grid;
    justify-content: center;
}

.doAdaptive a{
    color: white;
    font-size: 15px;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    display: grid;
    justify-content: center;
}

.closeMenu {
    width: 40px;
    height: 40px;
    border-radius: 40px;
    position: relative;
    z-index: 1;
    cursor: pointer;
    float: right;
    margin-top: -5px;
}
.closeMenu:before {
    content: '+';
    color: #252525;
    position: absolute;
    z-index: 2;
    transform: rotate(45deg);
    font-size: 50px;
    line-height: 1;
    top: -5px;
    left: 6px;
}


@media screen and (max-width: 1200px) {
    .header{
        width: 90%;
        grid-template-columns: 10% 80%;
    }
    .menu .active{
        color: #252525;
    }
}

@media screen and (max-width: 1015px) {
    .header{
        width: 90%;
        grid-template-columns: 10% 80%;
    }
    .menu .active{
        color: #252525;
    }
}

@media screen and (max-width: 1225px) {
    .header{
        width: 85%;
        margin-left: 7.5%;
    }
    .menu .active{
        color: #252525;
    }
}

@media screen and (max-width: 900px) {
    .menu{
        display: none;
    }
    .burgerMenu{
        display: block;
    }
}

@media screen and (max-width: 500px) {
    .header{
        max-width: 90%;
        width: 100%;
        grid-template-columns: 50% 50%;
        margin-left: 0;
        grid-gap: 0;
    }
    .mainMenu{
        margin-top: 0;
    }
    .adaptive{
        display: block;
        margin-top: 10%;
    }
}
