*{
    margin: 0;
}

.mainFooter{
    padding: 40px;
    border-top: 1px solid #e3e3e3;
}

.footer{
    width: 70%;
    margin-left: 15%;
    display: grid;
    grid-template-columns: 30% 69%;
    grid-gap: 1%;
}

.footer span{
    font-size: 24px;
    font-weight: 700;
    color: #252525;
    font-family: 'Montserrat', sans-serif;
}

.footer span:after{
    content: '.';
    color: #3333ff;
}

.paragraph p{
    line-height: 1.6;
    color: #333;
    font-family: 'Montserrat', sans-serif;
}

.design{
    margin-top: 40px;
}

.copyright{
    max-width: 100%;
    background:  #e3e3e3;
    padding: 5px;
}

.copyright span{
    display: grid;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    color: #252525;
}

.socialNetwork{
    padding: 10px;
}

.socialNetwork img{
    width: 30px;
    margin-left: 20px;
    border-radius: 50%;
    transition: all 0.5s ease;
}

.socialNetwork img:hover {
    box-shadow: 0 0 8px 4px #c8c8c8;
}

.socialNetwork .block{
    display: flex;
    justify-content: center;
    margin-left: -5%;
}


@media screen and (max-width: 1500px){
    .footer{
        width: 90%;
        margin-left: 5%;
    }
}

@media screen and (max-width: 900px) {
    .footer {
        width: 100%;
        margin-left: 0;
    }
}

@media screen and (max-width: 800px) {
    .footer {
        width: 100%;
        margin-left: 0;
        grid-template-columns: 100%;
    }
    .paragraph{
        margin-top: 10px;
    }
    .contactsFooter{
        margin-top: 10px;
    }
    .footer span{
        display: flex;
        justify-content: center;
    }
    .paragraph p{
        text-align: center;
    }
    .design{
        display: grid;
        justify-content: center;
    }
    .contactsFooter{
        margin-top: 15px;
    }
}

@media screen and (max-width: 400px) {
    .footer {
        width: 100%;
        margin-left: 0;
        grid-template-columns: 100%;
    }
    .paragraph{
        margin-top: 10px;
    }
    .contactsFooter{
        margin-top: 20px;
    }
    .design{
        display: grid;
        justify-content: center;
    }
}
