.stylesDiv{
    background: black;
    z-index: 5;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.7
}

.stylesOverlay{
    z-index: 5;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: grid;
    justify-content: center;
}

.stylesBlock{
    background: white;
    border-radius: 5px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 20px;
    color: #252525;
    width: 400px;
    height: 120px;
    padding-top: 15%;
    margin-top: 50%;
}

.stylesBlock button {
    cursor: pointer;
    padding: 15px 40px 15px 40px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    margin-top: 20px;
    background: #3333ff;
    border: none;
    color: white;
    border-radius: 2px;
    transition: all 0.5s ease;
}

.stylesBlock button:hover {
    box-shadow: 0 0 16px 8px #c8c8c8;
}

@media screen and (max-width: 400px) {
    .stylesBlock{
        width: 300px;
        margin-top: 50%;
    }
    .stylesBlock button{
        padding: 15px 80px 15px 80px;
    }
}

@media screen and (max-width: 350px) {
    .stylesBlock button{
        padding: 15px 80px 15px 80px;
    }
}