.mainAboutMe{
    margin-top: 80px;
    padding: 40px;
    border-bottom: 1px solid #e3e3e3;
    color: #252525;
}

.aboutMe{
    width: 70%;
    margin-left: 15%;
    display: grid;
    grid-template-columns: 50% 50%;
}

.about{
    width: 90%;
}

.fullName{
    font-size: 36px;
    line-height: 1.25;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
}

.fullName span{
    font-family: 'Montserrat', sans-serif;
}

.fullName span:after{
    content: '.';
    color: #3333ff;
}

.paragraph p{
    line-height: 1.6;
    color: #333;
    font-family: 'Montserrat', sans-serif;
}

.photo{
    position: relative;
    padding-bottom: 56.2%;
    float: right;
}

.photo img{
    position: absolute;
    -o-object-fit: cover;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.contacts{
    width: 80%;
    margin-top: 5%;
}

.phone{
    display: grid;
    margin-top: 10px;
    grid-template-columns: 25% 70%;
}

.phone span{
    font-size: 13px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: #252525;
}

.phone p{
    font-family: 'Montserrat', sans-serif;
    line-height: 1.4;
    color: #333;
    font-size: 12px;
    margin-top: 0;
}

.buttons button{
    cursor: pointer;
    padding: 20px 15px 20px 15px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    margin-top: 30px;
    background: #3333ff;
    border: none;
    color: white;
    border-radius: 2px;
    transition: all 0.5s ease;
}

.buttons button:hover{
    box-shadow: 0 0 16px 8px #c8c8c8;
}

.phone img{
    width: 18px;
    float: left;
    margin-right: 5%;
    border-radius: 50%;
    transition: all 0.5s ease;
}

.phone img:hover{
    box-shadow: 0 0 8px 4px #c8c8c8;
}